In [98]:
import pandas_datareader.data as web
import pandas as pd
import datetime
import csv
from pandas_datareader._utils import RemoteDataError
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
from statsmodels.tsa.seasonal import seasonal_decompose

In [99]:
filename = "Ticker_MF.csv"
tickers = []
i = 0
ticker_frame = pd.read_csv(filename)

In [100]:
ticker_frame.head()

  TICKER_SYMBOL_IDENTIFIER  PRODUCT_TYPE
0                    CIPIX  Mutual Funds
1                    BMSIX  Mutual Funds
2                    MMUKX  Mutual Funds
3                    USGNX  Mutual Funds
4                    ALVDX  Mutual Funds

In [101]:
ticker_frame.fillna(0, inplace=True)

In [102]:
new_ticker_frame = ticker_frame[ticker_frame.TICKER_SYMBOL_IDENTIFIER != 0]

In [103]:
all_tickers = new_ticker_frame["TICKER_SYMBOL_IDENTIFIER"]
for ticker in all_tickers:
    if ticker[0] == 'F':
        tickers.append(str(ticker))

In [104]:
d = {}
data_source = 'yahoo'
start = datetime.datetime(2013,1,1)
end = datetime.datetime(2018,1,1)

In [105]:
dict_funds = {}
# for i in range(len(tickers)):
#     i
df = web.DataReader('FFNOX', data_source, start, end)
print "hello"
#     dict_funds[tickers[i]] = pd.DataFrame(df)
# tickers[0]

hello

In [106]:
df

                 Open       High        Low      Close  Adj Close  Volume
Date
2013-01-02  29.780001  29.780001  29.780001  29.780001  26.362711       0
2013-01-03  29.680000  29.680000  29.680000  29.680000  26.274187       0
2013-01-04  29.820000  29.820000  29.820000  29.820000  26.398121       0
2013-01-07  29.740000  29.740000  29.740000  29.740000  26.327299       0
2013-01-08  29.650000  29.650000  29.650000  29.650000  26.247629       0
2013-01-09  29.750000  29.750000  29.750000  29.750000  26.336157       0
2013-01-10  29.959999  29.959999  29.959999  29.959999  26.522055       0
2013-01-11  29.969999  29.969999  29.969999  29.969999  26.530909       0
2013-01-14  29.969999  29.969999  29.969999  29.969999  26.530909       0
2013-01-15  29.990000  29.990000  29.990000  29.990000  26.548613       0
2013-01-16  29.959999  29.959999  29.959999  29.959999  26.522055       0
2013-01-17  30.129999  30.129999  30.129999  30.129999  26.672548       0
2013-01-18  30.180000  30.180000  30.180000  30.180000  26.716812       0
2013-01-22  30.270000  30.270000  30.270000  30.270000  26.796486       0
2013-01-23  30.290001  30.290001  30.290001  30.290001  26.814186       0
2013-01-24  30.340000  30.340000  30.340000  30.340000  26.858450       0
2013-01-25  30.500000  30.500000  30.500000  30.500000  27.000093       0
2013-01-28  30.440001  30.440001  30.440001  30.440001  26.946978       0
2013-01-29  30.570000  30.570000  30.570000  30.570000  27.062057       0
2013-01-30  30.500000  30.500000  30.500000  30.500000  27.000093       0
2013-01-31  30.459999  30.459999  30.459999  30.459999  26.964678       0
2013-02-01  30.680000  30.680000  30.680000  30.680000  27.159437       0
2013-02-04  30.360001  30.360001  30.360001  30.360001  26.876154       0
2013-02-05  30.559999  30.559999  30.559999  30.559999  27.053205       0
2013-02-06  30.590000  30.590000  30.590000  30.590000  27.079765       0
2013-02-07  30.500000  30.500000  30.500000  30.500000  27.000093       0
2013-02-08  30.650000  30.650000  30.650000  30.650000  27.132879       0
2013-02-11  30.629999  30.629999  30.629999  30.629999  27.115175       0
2013-02-12  30.700001  30.700001  30.700001  30.700001  27.177141       0
2013-02-13  30.740000  30.740000  30.740000  30.740000  27.212551       0
...               ...        ...        ...        ...        ...     ...
2017-11-16  44.020000  44.020000  44.020000  44.020000  43.158802       0
2017-11-17  43.980000  43.980000  43.980000  43.980000  43.119583       0
2017-11-20  44.040001  44.040001  44.040001  44.040001  43.178410       0
2017-11-21  44.299999  44.299999  44.299999  44.299999  43.433323       0
2017-11-22  44.349998  44.349998  44.349998  44.349998  43.482346       0
2017-11-24  44.459999  44.459999  44.459999  44.459999  43.590195       0
2017-11-27  44.400002  44.400002  44.400002  44.400002  43.531368       0
2017-11-28  44.709999  44.709999  44.709999  44.709999  43.835300       0
2017-11-29  44.669998  44.669998  44.669998  44.669998  43.796085       0
2017-11-30  44.869999  44.869999  44.869999  44.869999  43.992172       0
2017-12-01  44.779999  44.779999  44.779999  44.779999  43.903931       0
2017-12-04  44.720001  44.720001  44.720001  44.720001  43.845108       0
2017-12-05  44.590000  44.590000  44.590000  44.590000  43.717651       0
2017-12-06  44.540001  44.540001  44.540001  44.540001  43.668629       0
2017-12-07  44.650002  44.650002  44.650002  44.650002  43.776478       0
2017-12-08  44.849998  44.849998  44.849998  44.849998  43.972561       0
2017-12-11  44.939999  44.939999  44.939999  44.939999  44.060802       0
2017-12-12  44.990002  44.990002  44.990002  44.990002  44.109825       0
2017-12-13  45.049999  45.049999  45.049999  45.049999  44.168652       0
2017-12-14  44.869999  44.869999  44.869999  44.869999  43.992172       0
2017-12-15  45.099998  45.099998  45.099998  45.099998  44.217670       0
2017-12-18  45.400002  45.400002  45.400002  45.400002  44.511806       0
2017-12-19  45.259998  45.259998  45.259998  45.259998  44.374542       0
2017-12-20  45.209999  45.209999  45.209999  45.209999  44.325520       0
2017-12-21  45.330002  45.330002  45.330002  45.330002  44.443176       0
2017-12-22  45.310001  45.310001  45.310001  45.310001  44.423565       0
2017-12-26  45.310001  45.310001  45.310001  45.310001  44.423565       0
2017-12-27  45.389999  45.389999  45.389999  45.389999  44.501999       0
2017-12-28  44.580002  44.580002  44.580002  44.580002  44.580002       0
2017-12-29  44.450001  44.450001  44.450001  44.450001  44.450001       0

[1259 rows x 6 columns]

In [107]:
df.index

DatetimeIndex(['2013-01-02', '2013-01-03', '2013-01-04', '2013-01-07',
               '2013-01-08', '2013-01-09', '2013-01-10', '2013-01-11',
               '2013-01-14', '2013-01-15',
               ...
               '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
               '2017-12-28', '2017-12-29'],
              dtype='datetime64[ns]', name=u'Date', length=1259, freq=None)

In [108]:
# Getting the NAV for each day which is basicallly the closing price
del df["Open"]
del df["High"]
del df["Low"]
del df["Adj Close"]
del df["Volume"]
df["Close"]

df.head()

                Close
Date
2013-01-02  29.780001
2013-01-03  29.680000
2013-01-04  29.820000
2013-01-07  29.740000
2013-01-08  29.650000

In [118]:
# Code derived from https://www.analyticsvidhya.com/blog/2016/02/time-series-forecasting-codes-python/
def get_stationarity(timeseries_data):
    print timeseries_data.head()
    rolmean = pd.rolling_mean(timeseries_data,window=30)
    print rolmean
    rolstd = pd.rolling_std(timeseries_data,window=12)
    plt.figure()
    timeseries_data.reset_index(level=0, inplace=True)
    orig = plt.plot(timeseries_data["Date"],timeseries_data["Close"],color='blue',label='Original')
    mean = plt.plot(timeseries_data["Date"],rolmean, color='red', label='Rolling Mean')
    std = plt.plot(timeseries_data["Date"],rolstd, color='black', label = 'Rolling Std')
    timeseries_data.set_index('Date',inplace=True)

    plt.legend(loc='best')
    plt.title('Rolling Mean & Standard Deviation')
    plt.savefig("stationarity_fig.png")

In [119]:
print df.index
# Eliminating Trend
ts_log = np.log(df)
# line = df.plot(y="Close",use_index=True)
# plt.show()

DatetimeIndex(['2013-01-02', '2013-01-03', '2013-01-04', '2013-01-07',
               '2013-01-08', '2013-01-09', '2013-01-10', '2013-01-11',
               '2013-01-14', '2013-01-15',
               ...
               '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
               '2017-12-28', '2017-12-29'],
              dtype='datetime64[ns]', name=u'Date', length=1259, freq=None)

In [120]:
# Process of Decomposing where trend and seasonality are modelled separately and the remaining is returned
print type(ts_log)
print len(ts_log)
print ts_log.index
decomposition = seasonal_decompose(ts_log,freq = 365)

trend = decomposition.trend
seasonal = decomposition.seasonal
residual = decomposition.resid
ts_log_decompose = residual
ts_log_decompose.dropna(inplace=True)
get_stationarity(ts_log_decompose)

<class 'pandas.core.frame.DataFrame'>
1259
DatetimeIndex(['2013-01-02', '2013-01-03', '2013-01-04', '2013-01-07',
               '2013-01-08', '2013-01-09', '2013-01-10', '2013-01-11',
               '2013-01-14', '2013-01-15',
               ...
               '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
               '2017-12-28', '2017-12-29'],
              dtype='datetime64[ns]', name=u'Date', length=1259, freq=None)
               Close
Date
2013-09-23 -0.002530
2013-09-24 -0.004321
2013-09-25 -0.001489
2013-09-26  0.000987
2013-09-27 -0.004740
               Close
Date
2013-09-23       NaN
2013-09-24       NaN
2013-09-25       NaN
2013-09-26       NaN
2013-09-27       NaN
2013-09-30       NaN
2013-10-01       NaN
2013-10-02       NaN
2013-10-03       NaN
2013-10-04       NaN
2013-10-07       NaN
2013-10-08       NaN
2013-10-09       NaN
2013-10-10       NaN
2013-10-11       NaN
2013-10-14       NaN
2013-10-15       NaN
2013-10-16       NaN
2013-10-17       NaN
2013-10-18       NaN
2013-10-21       NaN
2013-10-22       NaN
2013-10-23       NaN
2013-10-24       NaN
2013-10-25       NaN
2013-10-28       NaN
2013-10-29       NaN
2013-10-30       NaN
2013-10-31       NaN
2013-11-01 -0.003102
...              ...
2017-03-01 -0.006975
2017-03-02 -0.005795
2017-03-03 -0.004658
2017-03-06 -0.003177
2017-03-07 -0.001697
2017-03-08 -0.000533
2017-03-09  0.000584
2017-03-10  0.001969
2017-03-13  0.003472
2017-03-14  0.004763
2017-03-15  0.006072
2017-03-16  0.007016
2017-03-17  0.007509
2017-03-20  0.007438
2017-03-21  0.007025
2017-03-22  0.006869
2017-03-23  0.006891
2017-03-24  0.006756
2017-03-27  0.006604
2017-03-28  0.006196
2017-03-29  0.005808
2017-03-30  0.005363
2017-03-31  0.004709
2017-04-03  0.004232
2017-04-04  0.003582
2017-04-05  0.002863
2017-04-06  0.002215
2017-04-07  0.001610
2017-04-10  0.001091
2017-04-11  0.000545

[895 rows x 1 columns]

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: pd.rolling_mean is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(window=30,center=False).mean()
/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:6: FutureWarning: pd.rolling_std is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(window=12,center=False).std()